
.card-body_TL {
  max-height: 300px;
  overflow-y: auto;
  color: black;
}

.table_TL {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.table_TL th,
.table_TL td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table_TL th {
  background-color: #f2f2f2;
}

.suspicious-row_TL {
  background-color: #dc3545;
}

.text-danger_TL {
  color: #fff; /* Set text color to white for better visibility on red background */
}
